<html lang="en" dir="ltr">
<head>
    {% load static %}
    <title>PetzIoT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PetzIoT ">
    <meta name="keywords" content="PetzIoT">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- BEGIN CSS -->
    <link href="{% static 'assets/plugins/bootstrap/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/simple-line-icons/css/simple-line-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/paper-ripple/dist/paper-ripple.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/iCheck/skins/square/_all.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/colors.css' %}" rel="stylesheet">
    <!-- END CSS -->


</head>
<body class="fix-header active-ripple theme-blue">
<!-- BEGIN LOEADING -->
<div id="loader">
    <div class="spinner"></div>
</div><!-- /loader -->
<!-- END LOEADING -->
<!-- BEGIN WRAPPER -->
<div class="fixed-modal-bg"></div>
<!--<a href="#" class="btn btn-info btn-icon btn-round btn-lg" id="toggle-dark-mode">
    <i class="icon-bulb"></i>
</a>-->
<div class="modal-page shadow">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="logo-con m-t-10 m-b-10">
                    <img src="{% static 'assets/images/petziot-logo-1.png' %}" style="max-width:50%"
                         class="dark-logo center-block img-responsive" alt="logo">

                </div><!-- /.logo-con -->
                <img src="{% static 'assets/images/petziot-removebg-preview.png' %}" alt="petziot"
                     class="img-responsive img-center">
                <h1 class="text-center m-b-20 mt-3 Welcome_h">Welcome</h1>
                <hr>
                <div class="form-group">

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group ">
                            {{ form.login.label_tag }}
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
                                {{ form.login }}
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                                {{ form.password }}
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                        {{ form.non_field_errors }}
                        <div class="form-group ">
                            <div class="input-group round">
                                {{ form.user_type }}
                            </div><!-- /.input-group -->
                        </div><!-- /.form-group -->
                        <button id="btnLogin" class="btn btn-info btn-round btn-block" type="submit"> Login
                        </button>
                        <p class="text-center m-t-20">
                            <a href="{% url 'account_reset_password' %}">Forgot password ?</a>
                        </p>
                        <p class="text-center m-t-15">
                            <a href="{% url 'account_signup' %}">Don't have an account? Sign Up.</a>
                        </p>
                    </form>
                    {# END FORM #}
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div><!-- /.modal-page -->
<!-- END WRAPPER -->
<!-- BEGIN JS -->
<script src="{% static 'assets/plugins/jquery/dist/jquery-3.1.0.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-migrate/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/paper-ripple/dist/PaperRipple.min.js' %}"></script>
<script src="{% static 'assets/plugins/sweetalert2//dist/sweetalert2.min.js' %}"></script>
<script src="{% static 'assets/plugins/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'assets/plugins/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/core.js' %}"></script>

<!-- BEGIN PAGE JAVASCRIPT -->
<script src="{% static '' %}assets/js/pages/login.js"></script>
<!-- END PAGE JAVASCRIPT -->


<script>

    let date = new Date().toUTCString().slice(0, 16);
    $(".dateToday").text(date);


    $("#btnLogin").click(function () {

        $('#lblErrorL').text("");
        //if ($('#form').valid()) {
        //    //window.location.href = "index";
        //    return false;
        //}
    });

</script>

<style>

    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
</body>

</html>