{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    {% load static %}
    {% load crispy_forms_tags %}
    <div id="page-content">
        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">Profile</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>


        <div id="recordDetail" class="row justify-content-center">


            <div class="col-lg-7 col-12">
                <div class="portlet box border shadow">

                    <div class="portlet-body">


                        <div class="row">

                            <div class="col-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab23">
                                        <fieldset>
                                            <input type="hidden" id="hfId"/>
                                            <form method="POST" role="form" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ form.non_field_errors }}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group ">
                                                            {{ form.first_name.errors }}
                                                            <label for="{{ form.first_name.id_for_label }}"> {{ form.first_name.label }}:
                                                            </label>
                                                            <div class="input-group round">
                                                        <span class="input-group-addon">
                                                            <i class="icon-user"></i>
                                                        </span>
                                                                <input type="text"
                                                                       name="{{ form.first_name.html_name }}"
                                                                       placeholder="{{ form.first_name.label }}"
                                                                       id="{{ form.first_name.auto_id }}"
                                                                       value="{{ form.first_name.value|default_if_none:'' }}">
                                                            </div><!-- /.input-group -->
                                                        </div><!-- /.form-group -->
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group ">
                                                            {{ form.last_name.errors }}
                                                            <label for="{{ form.last_name.id_for_label }}"> {{ form.last_name.label }}:
                                                            </label>
                                                            <div class="input-group round">
                                                        <span class="input-group-addon">
                                                            <i class="icon-user"></i>
                                                        </span>
                                                                <input type="text" name="{{ form.last_name.html_name }}"
                                                                       placeholder="{{ form.last_name.label }}"
                                                                       id="{{ form.last_name.auto_id }}"
                                                                       value="{{ form.last_name.value|default_if_none:'' }}">
                                                            </div><!-- /.input-group -->
                                                        </div><!-- /.form-group -->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div>
                                                            {{ form.image.errors }}
                                                            <label for="{{ form.image.id_for_label }}"> {{ form.image.label }}:
                                                            </label>
                                                            <div class="input-group round">
                                                                <span class="input-group-addon">
                                                                    <i class="icon-user"></i>
                                                                </span>
                                                                <input type="file"
                                                                       accept="image/*"
                                                                       name="{{ form.image.html_name }}"
                                                                       placeholder="{{ form.image.label }}"
                                                                       id="{{ form.image.auto_id }}"
                                                                       value="{{ form.image.value|default_if_none:'' }}">
                                                            </div><!-- /.input-group -->
                                                        </div><!-- /.form-group -->
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group ">
                                                            {{ form.username.errors }}
                                                            <label for="{{ form.username.id_for_label }}"> {{ form.username.label }}:
                                                            </label>
                                                            <div class="input-group round">
                                                        <span class="input-group-addon">
                                                            <i class="icon-user"></i>
                                                        </span>
                                                                <input type="text" name="{{ form.username.html_name }}"
                                                                       placeholder="{{ form.username.label }}"
                                                                       id="{{ form.username.auto_id }}"
                                                                       value="{{ form.username.value|default_if_none:'' }}"
                                                                       readonly="readonly">
                                                            </div><!-- /.input-group -->
                                                        </div><!-- /.form-group -->
                                                    </div>
                                                </div>
                                                <div class="form-actions text-center mt-3">
                                                    <button type="submit" class="btn btn-success btn-curve">
                                                        <i class="icon-check"></i>
                                                        Confirm
                                                    </button>
                                                </div>
                                            </form>

                                        </fieldset>
                                    </div><!-- /.tab-pane -->


                                </div><!-- /.tab-content -->
                            </div><!-- /.col-9 -->
                        </div><!-- /.row -->


                    </div><!-- /.portlet-body -->
                </div><!-- /.portlet -->
            </div><!-- /.col-lg-8 -->

        </div>


    </div><!-- /#page-content -->

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;

        }
    </style>

    <link href="{% static 'assets/plugins/data-table/css/jquery.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/data-table/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">

{% endblock PageContent %}