{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    {% load static %}

    <div id="page-content">

        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">Dashboard</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>


        <div class="row justify-content-center">


            <div class="col-md-3 col-12">

                <div class="form-group">
                    <label for="cmbPetOwnerName">Pet Owner</label>
                    <div class="input-group">

                        <select class="form-control select2 curve" id="cmbPetOwnerName" style="width:100% !important">

                            {% for petowner in petowners %}
                                <option value={{ petowner.user_id }}>{{ petowner.user.get_full_name }}</option>
                            {% endfor %}

                        </select>

                    </div><!-- /.input-group -->
                </div><!-- /.form-group -->
            </div>

            <div class="col-md-3 col-12">

                <div class="form-group">
                    <label for="cmbPetName">Pet</label>
                    <div class="input-group"><select class="form-control select2 curve" id="cmbPetName"
                                                     style="width:100% !important">
                        {#                        {% for pet in pets %}#}
                        {#                            <option value={{ pet.id }} data-owner-id={{ pet.petowner.user_id }}>{{ pet.name }}</option>#}
                        {#                        {% endfor %}#}
                    </select>

                    </div><!-- /.input-group -->
                </div><!-- /.form-group -->
            </div>

            <div class="col-md-4 col-12">
                <button id="btnGo" type="button" class="btn btn-success btn-curve mt-md-4" onclick="petInfoTable()">
                    <i class="icon-check "></i>
                    GO
                </button>
            </div>

        </div><!-- /.modal -->

        <div id="temperatureInfoRow" class="row ">
            <div class="col">
                <div class="portlet box border shadow">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table id="petInfoTable" class="table table-striped" width="100%" height="180"
                                   cellspacing="0" style="height: 40%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                {#            BEGIN THERMOMETER#}
                <div id="thermometer">
                    <div id="temperature"></div>
                </div>
                {#            END THERMOMETER#}
            </div>
        </div>
        <div id="coordinateInfo" class="row">
            <div class="col-md-6">
                <div class="portlet box border shadow">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table id="petCoordinateTable" class="table table-striped" width="100%" height="180"
                                   cellspacing="0" style="height: 40%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {#        BEGIN MAP #}
            <div class="col-md-6">
                <div class="portlet box border shadow">
                    <div class="portlet-body">
                        <div id="map" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;
        }

        {#BEGIN THERMOMETER STYLE#}
        #thermometer {
            width: 50px;
            height: 200px;
            background: #ccc;
            border-radius: 25px;
            position: relative;
        }

        #temperature {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: linear-gradient(red, yellow, green);
            transition: height 0.5s;
        }

        {#END THERMOMETER STYLE#}

        table {
            width: 100%;
        }

        thead, tbody, tr, td, th {
            display: block;
        }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;
            /*text-align: left;*/
        }

        tbody {
            height: 250px;
            overflow-y: auto;
            font-size: 13px;
        }

        thead {
            /* fallback */
        }


        tbody td, thead th {
            width: 33.33%;
            float: left;
            padding-right: 4px !important;
            padding-left: 1px !important;
        }

        thead th {
            margin-bottom: 5px;
            border-style: none
        }

        .preview-textfield {
            position: absolute;
            /*top: 65px;*/
            /*top: 95px;*/
            left: 0;
            right: 0;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: black;
            font-family: 'Amaranth', sans-serif;
        }

        .portlet {
            background: #e9e9e9 !important;
            padding-right: 2px !important;
            padding-left: 2px !important;
        }
    </style>


    <link href="{% static 'assets/plugins/data-table/css/jquery.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/data-table/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">

    <script src="{% static 'assets/plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/plugins/select2/dist/js/i18n/fa.js' %}"></script>
    <script src="{% static 'assets/js/pages/select2.js' %}"></script>
    <script src="{% static 'assets/plugins/data-table/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/data-table/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/validation.js' %}"></script>
    <script src="{% static 'assets/js/Chart.min.js' %}"></script>
    <script src="https://bernii.github.io/gauge.js/dist/gauge.js"></script>
    <script src="{% static 'assets/js/gauge.js' %}"></script>
    <script src="{% static 'assets/js/myDashboard.js' %}"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
    <script src="{% static 'assets/plugins/jquery/dist/jquery-3.1.0.js' %}"></script>


    <script>
        function getTopTemperature() {
            var table = document.getElementById('petInfoTable');
            if (table.rows.length > 1) {
                var firstRow = table.rows[1];
                var temperatureCell = firstRow.cells[0];
                var topTemperature = temperatureCell.textContent || temperatureCell.innerText;
                return topTemperature;
            } else {
                return 0;
            }
        }

        function getTopCoordinate() {
            var table = document.getElementById('petCoordinateTable');
            if (table.rows.length > 1) {
                var firstRow = table.rows[1];
                var longitude = firstRow.cells[0];
                var latitude = firstRow.cells[1];
                var topLongitude = longitude.textContent || longitude.innerText;
                var topLatitude = latitude.textContent || latitude.innerText;
                return {
                    'longitude': topLongitude,
                    'latitude': topLatitude
                }
            } else {
                return {
                    'longitude': null,
                    'latitude': null
                }
            }
        }

        function setTemperature() {
            var temp = getTopTemperature();
            var thermometer = document.getElementById('temperature');
            var newHeight = temp + "px";
            thermometer.style.height = newHeight;
        }

        var map; // Declare map variable outside the function, so it can be accessed by other functions
        var flag = true; // Flag to check if map is supposed to be initialized
        var last_longitude = 0;
        var last_latitude = 0;
        var markers = L.layerGroup(); // Store markers in array so they can be removed later

        function markMap() {
            var coordinates = getTopCoordinate();
            // Check if coordinates are valid
            if (coordinates.longitude == null || coordinates.latitude == null) {
                return;
            }
            var latitude = parseFloat(coordinates.latitude);
            var longitude = parseFloat(coordinates.longitude);

            // Check if map is already initialized
            if (flag) {
                flag = false;
                // Initialize the map with the coordinates
                map = L.map('map').setView([latitude, longitude], 13);

                // Add the tile layer to the map
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);
            }
            if (latitude !== last_latitude && longitude !== last_longitude) {
                // Add a marker to the map at the coordinates
                markers.addLayer(L.marker([latitude, longitude]).addTo(map));
                // Add the Layer Group to the map
                markers.addTo(map);
                map.setView([latitude, longitude]); // Move the map to the new marker
                last_latitude = latitude
                last_longitude = longitude
            }
        }

        function createTables(data) {
            console.log('createTables');
            if (data.success) {
                // hide table if data is empty
                if (Object.keys(data.pet_info.coordinate_info).length == 0 && Object.keys(data.pet_info.temperature_info).length == 0) {
                    $("#temperatureInfoRow").hide();
                    $("#coordinateInfo").hide();
                    return;
                } else {
                    $("#temperatureInfoRow").show();
                    $("#coordinateInfo").show();
                }
                var table = $("#petInfoTable");
                table.empty();  // Clear the table
                var headers = $("<thead></thead>");
                headers.append("<tr><th>Temperature</th><th>Date</th></tr>")
                table.append(headers);
                var body = $("<tbody></tbody>");
                table.append(body);

                $.each(data.pet_info.temperature_info, function (index, element) {
                    var row = $("<tr></tr>");
                    row.append($("<td></td>").text(element.temperature));
                    row.append($("<td></td>").text(element.date));
                    table.append(row);
                });

                var coordinate_table = $("#petCoordinateTable");
                coordinate_table.empty();  // Clear the table
                var headers = $("<thead></thead>");
                headers.append("<tr><th>Longitude</th><th>Latitude</th><th>Date</th></tr>")
                coordinate_table.append(headers);
                var body = $("<tbody></tbody>");
                coordinate_table.append(body);

                $.each(data.pet_info.coordinate_info, function (index, element) {
                    var row = $("<tr></tr>");
                    row.append($("<td></td>").text(element.longitude));
                    row.append($("<td></td>").text(element.latitude));
                    row.append($("<td></td>").text(element.date));
                    coordinate_table.append(row);
                });
                setTemperature();
                markMap();
            } else {
                alert("Error retrieving pet information.");
            }

        }

        function petInfoTable() {
            var petId = $("#cmbPetName").val();
            $.ajax({
                url: '/dashboard/info/',
                data: {
                    'pet_id': petId
                },
                dataType: 'json',
                success: function (data) {
                    createTables(data);
                }
            });
        }

        function getPets() {
            console.log('getPets');
            let petowner_id = document.getElementById("cmbPetOwnerName").value;
            $.ajax({
                url: '{% url 'dashboard_pets' %}',
                data: {
                    'petowner_id': petowner_id
                },
                dataType: 'json',
                success: function (data) {
                    let petList = document.getElementById("cmbPetName");
                    petList.innerHTML = "";
                    $.each(data.pets, function (index, element) {
                        let option = document.createElement("option");
                        option.value = element.id;
                        option.text = element.name;
                        petList.appendChild(option);
                    });
                    updateStreamingEndpoint();
                }
            });
        }

        function restartMap() {
            // Remove all markers
            markers.clearLayers();
            // Reset last_latitude and last_longitude to restart marking map from the beginning
            last_latitude = 0;
            last_longitude = 0;
            {#flag = true;#}
        }

        document.getElementById("cmbPetOwnerName").addEventListener("change", function () {
            restartMap();
            getPets();
        });


        // Define a function to update the streaming endpoint and EventSource connection
        let eventSource = null;

        function updateStreamingEndpoint() {

            // Create a new EventSource connection
            let petId = $("#cmbPetName").val();
            let streamingUrl = `{% url 'dashboard_stream' %}?pet_id=${petId}`;
            console.log('petid', petId);

            // Close the existing EventSource connection if it exists
            if (eventSource !== null) {
                eventSource.close();
            }
            eventSource = new EventSource(streamingUrl)

            // Handle incoming data updates
            console.log('eventSource', eventSource);
            eventSource.onmessage = (event) => {
                const data = JSON.parse(event.data);
                console.log('on message');
                restartMap();
                createTables(data);
            };

            // Handle connection errors
            eventSource.onerror = (error) => {
                console.error('Error connecting to streaming endpoint:', error);
            };
        }

        // Update the streaming endpoint whenever the menu selection changes
        document.getElementById("cmbPetName").addEventListener("change", updateStreamingEndpoint);

        $(document).ready(function () {
            getPets();
        });

    </script>

{% endblock PageContent %}