{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    {% load static %}
    <div id="page-content">
        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">Pet owners</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>

        <div id="gridUser" class="row justify-content-center">


            <div class=" col-lg-10  col-12">
                <div class="portlet box border shadow">

                    <div class="portlet-body">

                        <div i class="table-responsive">
                            <button id="toggle-btn" class="btn btn-sm me-5 pe-3 btn-primary btn-curve mb-2" tabindex="0"
                                    type="button">
                                <span><i class="icon-plus me-1 pe-1"></i>New</span>
                            </button>
                            <table id="petownerListTable"
                                   class="table table-striped table-bordered dt-responsive nowrap"
                                   width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Family</th>
                                    <th>UserName</th>
                                    <th>Phone</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                                {% for user_obj in users %}
                                    <tr>
                                        <td>{{ user_obj.user.first_name }}</td>
                                        <td>{{ user_obj.user.last_name }}</td>
                                        <td>{{ user_obj.user.username }}</td>
                                        <td>{{ user_obj.phone }}</td>
                                        <td><img src="{% static '' %}{{ user_obj.user.image }}" alt="user profile image"
                                                 class="img-circle" width="80px"></td>
                                        <td>
                                            <!-- Modal trigger -->
                                            <button type="button" class="btn btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal{{ user_obj.id }}">
                                                <i class="fa fa-remove fa-2x text-danger"></i>
                                            </button>
                                            <!-- End Modal trigger -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteModal{{ user_obj.id }}" tabindex="-1"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete
                                                                owner</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Delete "{{ user_obj.user.username }}"?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary"
                                                                    onclick="delete_petowner_btn({{ user_obj.id }}, '{{ user_obj.user.username }}')">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Modal -->

                                            <a href="{% url 'petowner:edit' user_obj.user.id %}"
                                               class="btn btn-sm  EditT" title="Edit">
                                                <i class="fa fa-edit fa-2x"></i>
                                            </a>
                                            <a target="_blank" href="{% url 'petowner:pet_list' user_obj.id %}"
                                               class="btn btn-sm  BuildingT"
                                               title="Pet"><img src="{% static 'assets\images\pet-logo1.png' %}"
                                                                width="100px" alt="pet">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </thead>
                            </table>
                            <form id="newPetOwnerForm" class="d-none" method="post" action="/api/petowner/new/"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="id_login"> First name:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-user"></i>
                                            </span>
                                                <input type="text" name="first_name" placeholder="First name">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="id_login"> Last name:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-user"></i>
                                            </span>
                                                <input type="text" name="last_name" placeholder="Last name">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="id_login"> Phone:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-phone"></i>
                                            </span>
                                                <input type="text" name="phone" placeholder="Phone">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="id_login"> Address:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-location-pin"></i>
                                            </span>
                                                <input type="text" name="address" placeholder="Address">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="id_login"> Username:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-user"></i>
                                            </span>
                                                <input type="text" name="username" placeholder="Username">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="id_login"> Password:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                                <i class="icon-lock"></i>
                                            </span>
                                                <input type="password" name="password" placeholder="Password">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="imageInput">Image:</label>
                                        <div class="input-group round">
                                            <input type="file" id="imageInput" name="image">
                                        </div><!-- /.input-group -->
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <button id="submit-btn" class="btn btn-info btn-round" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <button id="cancel-btn" class="btn btn-danger btn-round" type="button">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>


        </div>

    </div><!-- /#page-content -->

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;

        }
    </style>

    <link href="{% static 'assets/plugins/data-table/css/jquery.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/data-table/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">

    <script src="{% static '/js/delete.js' %}"></script>

    <script>
        const toggleBtn = document.getElementById('toggle-btn');
        const table = document.getElementById('petownerListTable');
        const form = document.getElementById('newPetOwnerForm');
        const cancelBtn = document.getElementById('cancel-btn');
        const submitBtn = document.getElementById('submit-btn');

        toggleBtn.addEventListener('click', () => {
            document.getElementById('toggle-btn').hidden = true;
            if (table.classList.contains('d-none')) {
                table.classList.remove('d-none');
                form.classList.add('d-none');
            } else {
                table.classList.add('d-none');
                form.classList.remove('d-none');
            }
        });

        cancelBtn.addEventListener('click', (event) => {
            document.getElementById('toggle-btn').hidden = false;
            event.preventDefault();
            form.classList.add('d-none');
            table.classList.remove('d-none');
        });

    </script>

{% endblock PageContent %}