{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    {% load static %}
    <div id="page-content">
        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">Pets</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>

        <div id="gridUser" class="row justify-content-center">


            <div class=" col-lg-10  col-12">
                <div class="portlet box border shadow">

                    <div class="portlet-body">

                        <div i class="table-responsive">
                            <table id="petListTable" class="table table-striped table-bordered dt-responsive nowrap"
                                   width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Breed</th>
                                    <th>Birthdate</th>
                                    <th>Image</th>
                                    <th>ID</th>
                                    <th>Owner</th>
                                    <th>Actions</th>
                                </tr>
                                {% for pet in pets %}
                                    <tr>
                                        <td>{{ pet.name }}</td>
                                        <td>{{ pet.type }}</td>
                                        <td>{{ pet.breed }}</td>
                                        <td>{{ pet.birthdate }}</td>
                                        <td><img src="{{ pet.image.url }}" alt="pet image" width="100px"></td>
                                        <td>{{ pet.serial_number }}</td>
                                        <td>{{ pet.petowner.user.username }}</td>
                                        <td>
                                            <button class="btn btn-sm  DeletT" title="Delete"
                                                    onclick="delete_pet_btn({{ pet.id }}, '{{ pet.name }}')">
                                                <i class="fa fa-remove fa-2x text-danger"></i>
                                            </button>
                                            <a href="{% url 'pet:update' pet.id %}"
                                               class="btn btn-sm  EditT" title="Edit">
                                                <i class="fa fa-edit fa-2x"></i>
                                            </a>
                                            <a href="{% url 'petowner:edit' pet.petowner.user.id %}"
                                               class="btn btn-sm" title="Owner">
                                                <img src="{{ pet.petowner.user.image.url }}" alt="pet owner image"
                                                     class="rounded-circle" width="30" height="30">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </div>


                    </div>

                </div>
            </div>


        </div>

    </div><!-- /#page-content -->

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;

        }
    </style>

    <link href="{% static 'assets/plugins/data-table/css/jquery.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/data-table/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">

    <script src="{% static '/js/delete.js' %}"></script>


{% endblock PageContent %}