{% extends 'Pages/Shared/_Layout.html' %}
{% block PageContent %}
    {% load static %}
    <div id="page-content">
        <div class="row">
            <!-- BEGIN BREADCRUMB -->
            <div class="col-md-12">
                <div class="breadcrumb-box border shadow">
                    <ul class="breadcrumb">
                        <li><a id="ttlPage" href="#">{{ petowner_username }}'s pets</a></li>
                    </ul>
                    <div class="breadcrumb-right">

                    <span class="dateToday">
                        Fri, 26 Aug 2022
                    </span>
                        <i class="icon-calendar"></i>
                    </div><!-- /.breadcrumb-right -->
                </div><!-- /.breadcrumb-box -->
            </div><!-- /.col-md-12 -->
            <!-- END BREADCRUMB -->
        </div>

        <div id="gridUser" class="row justify-content-center">


            <div class=" col-lg-10  col-12">
                <div class="portlet box border shadow">

                    <div class="portlet-body">

                        <div i class="table-responsive">
                            <button id="toggle-btn" class="btn btn-sm me-5 pe-3 btn-primary btn-curve mb-2" tabindex="0"
                                    type="button">
                                <span><i class="icon-plus me-1 pe-1"></i>New</span>
                            </button>
                            <table id="petListTable" class="table table-striped table-bordered dt-responsive nowrap"
                                   width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Breed</th>
                                    <th>Age</th>
                                    <th>Birthdate</th>
                                    <th>Image</th>
                                    <th>ID</th>
                                    <th>Actions</th>
                                </tr>
                                {% for pet in pets %}
                                    <tr>
                                        <td>{{ pet.name }}</td>
                                        <td>{{ pet.type }}</td>
                                        <td>{{ pet.breed }}</td>
                                        <td>{{ pet.age }}</td>
                                        <td>{{ pet.birthdate }}</td>
                                        <td><img src="{{ pet.image.url }}" alt="pet image" width="100px"></td>
                                        <td>{{ pet.serial_number }}</td>
                                        <td>
                                            <!-- Modal trigger -->
                                            <button type="button" class="btn btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal{{ pet.id }}">
                                                <i class="fa fa-remove fa-2x text-danger"></i>
                                            </button>
                                            <!-- End Modal trigger -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteModal{{ pet.id }}" tabindex="-1"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete
                                                                pet</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Delete "{{ pet.name }}"?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary"
                                                                    onclick="delete_pet_btn({{ pet.id }}, '{{ pet.name }}')">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Modal -->

                                            <a href="{% url 'pet:update' pet.id %}"
                                               class="btn btn-sm  EditT" title="Edit">
                                                <i class="fa fa-edit fa-2x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </thead>
                            </table>
                            <form id="newPetForm" class="d-none" method="post" action="{% url 'petowner:pet_create' %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" value="{{ petowner_username }}" name="petowner_username">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="nameInput"> Name:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                            </span>
                                                <input id="nameInput" type="text" name="name" placeholder="Name">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="typeInput"> Type:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                            </span>
                                                <input id="typeInput" type="text" name="type" placeholder="Type">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="breedInput"> Breed:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                            </span>
                                                <input id="breedInput" type="text" name="breed" placeholder="Breed">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="ageInput"> Age:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                            </span>
                                                <input id="ageInput" type="number" name="age" placeholder="Age">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="birthdateInput"> Birthdate:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                            </span>
                                                <input id="birthdateInput" type="date" name="birthdate"
                                                       placeholder="Birthdate">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="serialnumberInput"> ID Number:
                                            </label>
                                            <div class="input-group round">
                                            <span class="input-group-addon">
                                            </span>
                                                <input id="serialnumberInput" type="text" name="serial_number"
                                                       placeholder="ID Number">
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="imageInput">Image:</label>
                                        <div class="input-group round">
                                            <input type="file" id="imageInput" name="image">
                                        </div><!-- /.input-group -->
                                    </div>
                                </div>
                                <br>
                                <button id="submit-btn" class="btn btn-info btn-round" type="submit">
                                    Submit
                                </button>
                                <button id="cancel-btn" class="btn btn-danger btn-round" type="button">
                                    Cancel
                                </button>
                            </form>
                        </div>


                    </div>

                </div>
            </div>


        </div>

    </div><!-- /#page-content -->

    <style>
        .error, .has-error + .help-block, .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
            color: #f55145;

        }
    </style>

    <link href="{% static 'assets/plugins/data-table/css/jquery.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/data-table/css/buttons.dataTables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet">

    <script src="{% static '/js/delete.js' %}"></script>

    <script>
        const toggleBtn = document.getElementById('toggle-btn');
        const table = document.getElementById('petListTable');
        const form = document.getElementById('newPetForm');
        const cancelBtn = document.getElementById('cancel-btn');
        const submitBtn = document.getElementById('submit-btn');

        toggleBtn.addEventListener('click', () => {
            document.getElementById('toggle-btn').hidden = true;
            if (table.classList.contains('d-none')) {
                table.classList.remove('d-none');
                form.classList.add('d-none');
            } else {
                table.classList.add('d-none');
                form.classList.remove('d-none');
            }
        });

        cancelBtn.addEventListener('click', (event) => {
            document.getElementById('toggle-btn').hidden = false;
            event.preventDefault();
            form.classList.add('d-none');
            table.classList.remove('d-none');
        });
    </script>

{% endblock PageContent %}